html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
}

.slider-cont {
  background-color: rgb(183, 194, 181);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  width: 100%;
  height: 550px;
  .slider {
    width: 80%;
    height: 100%;
    background-color: rgb(97, 97, 97);
    .thumbs {
      transition: transform 1s ease-in-out;
      position: relative;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }
    .th-1 {
      top: 0;
      right: 0;
      z-index: 1;
      background-image: url(./img/1.jpg);
    }
    .th-2 {
      top: -550px;
      right: -100vw;
      z-index: 1;
      background-image: url(./img/2.jpg);
    }
    .th-3 {
      top: -1100px;
      right: -100vw;
      z-index: 1;
      background-image: url(./img/3.jpg);
    }
  }
  .thumbs.th-in {
    transform: translate(-100vw, 0);
  }

  .thumbs.th-out {
    transform: translate(-85vw, 0);
  }
  .btn-box {
    background-color: rgb(183, 194, 181);
    width: 10%;
    height: 100%;
    z-index: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    .next, .prev {
      border-radius: 50%;
      border: none;
      width: 50px;
      height: 50px;
      cursor: pointer;
      outline: none;
      color: #fff;
      transition: all .3s;
      background-color: rgb(97, 97, 97);
    }
  }
  .next:hover, .prev:hover {
    background-color: #333;
  }
}